<!-- templates/layout.html -->
<!doctype html>
<link rel="stylesheet" href={{　url_for( 'static' , filename='/css/bulma.min.csss' ) 　}}>
<link rel="stylesheet" href={{　url_for( 'static' , filename='css/app.css' ) 　}}>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<html>
  <head>
    <title>Job Board</title>
  </head>
  <body>
    <div class="container top">python3 -m venv venv
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

